{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "overrides": [
        {
            "files": [
                "src/Visitor.ts"
            ],
            "rules": {
                "@typescript-eslint/ban-types": "off"
            }
        },
        {
            "files": [
                "src/Node.ts"
            ],
            "rules": {
                "@typescript-eslint/no-use-before-define": "warn"
            }
        }
    ]
}
